In [76]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [91]:
pd.read_csv('car_price_prediction.csv')

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
9618,44960035,19757,-,VOLKSWAGEN,CC sport,2011,Sedan,Yes,Petrol,2.0 Turbo,189000 km,4.0,Manual,Front,04-May,Left wheel,Black,2
9619,45655292,251,919,AUDI,Q7,2012,Jeep,Yes,Petrol,3,241344 km,6.0,Automatic,4x4,04-May,Left wheel,Black,0
9620,45757291,862,2455,LEXUS,GX 470,2008,Jeep,Yes,Petrol,4.7,280354 km,8.0,Automatic,4x4,04-May,Left wheel,White,0
9621,45744808,8624,966,DAEWOO,Lacetti,2009,Sedan,Yes,Petrol,2,19999 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
9622,45755498,14269,1249,TOYOTA,Camry,2017,Sedan,Yes,Petrol,2.5,27560 km,4.0,Automatic,Front,04-May,Left wheel,Grey,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [77]:
#I will exclude levy and id variable which I don't need.
df = pd.read_csv('car_price_prediction.csv')
df = df.drop(['Levy','ID'], axis='columns')
df

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,MERCEDES-BENZ,CLK 200,1999,Coupe,Yes,CNG,2.0 Turbo,300000 km,4.0,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,15681,HYUNDAI,Sonata,2011,Sedan,Yes,Petrol,2.4,161600 km,4.0,Tiptronic,Front,04-May,Left wheel,Red,8
19234,26108,HYUNDAI,Tucson,2010,Jeep,Yes,Diesel,2,116365 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4
19235,5331,CHEVROLET,Captiva,2007,Jeep,Yes,Diesel,2,51258 km,4.0,Automatic,Front,04-May,Left wheel,Black,4
19236,470,HYUNDAI,Sonata,2012,Sedan,Yes,Hybrid,2.4,186923 km,4.0,Automatic,Front,04-May,Left wheel,White,12

In [78]:
for column in df.columns:   
    print(column, df[column].unique())

Price [13328 16621  8467 ... 56814 63886 22075]
Manufacturer ['LEXUS' 'CHEVROLET' 'HONDA' 'FORD' 'HYUNDAI' 'TOYOTA' 'MERCEDES-BENZ'
 'OPEL' 'PORSCHE' 'BMW' 'JEEP' 'VOLKSWAGEN' 'AUDI' 'RENAULT' 'NISSAN'
 'SUBARU' 'DAEWOO' 'KIA' 'MITSUBISHI' 'SSANGYONG' 'MAZDA' 'GMC' 'FIAT'
 'INFINITI' 'ALFA ROMEO' 'SUZUKI' 'ACURA' 'LINCOLN' 'VAZ' 'GAZ' 'CITROEN'
 'LAND ROVER' 'MINI' 'DODGE' 'CHRYSLER' 'JAGUAR' 'ISUZU' 'SKODA'
 'DAIHATSU' 'BUICK' 'TESLA' 'CADILLAC' 'PEUGEOT' 'BENTLEY' 'VOLVO' 'სხვა'
 'HAVAL' 'HUMMER' 'SCION' 'UAZ' 'MERCURY' 'ZAZ' 'ROVER' 'SEAT' 'LANCIA'
 'MOSKVICH' 'MASERATI' 'FERRARI' 'SAAB' 'LAMBORGHINI' 'ROLLS-ROYCE'
 'PONTIAC' 'SATURN' 'ASTON MARTIN' 'GREATWALL']
Model ['RX 450' 'Equinox' 'FIT' ... 'E 230 124' 'RX 450 F SPORT' 'Prius C aqua']
Prod. year [2010 2011 2006 2014 2016 2013 2007 1999 1997 2018 2008 2012 2017 2001
 1995 2009 2000 2019 2015 2004 1998 1990 2005 2003 1985 1996 2002 1993
 1992 1988 1977 1989 1994 2020 1984 1986 1991 1983 1953 1964 1974 1987
 1943 1978 1965 1976 1957 1980 1939 1968 1947 1982 1981 1973]
Category ['Jeep' 'Hatchback' 'Sedan' 'Microbus' 'Goods wagon' 'Universal' 'Coupe'
 'Minivan' 'Cabriolet' 'Limousine' 'Pickup']
Leather interior ['Yes' 'No']
Fuel type ['Hybrid' 'Petrol' 'Diesel' 'CNG' 'Plug-in Hybrid' 'LPG' 'Hydrogen']
Engine volume ['3.5' '3' '1.3' '2.5' '2' '1.8' '2.4' '4' '1.6' '3.3' '2.0 Turbo'
 '2.2 Turbo' '4.7' '1.5' '4.4' '3.0 Turbo' '1.4 Turbo' '3.6' '2.3'
 '1.5 Turbo' '1.6 Turbo' '2.2' '2.3 Turbo' '1.4' '5.5' '2.8 Turbo' '3.2'
 '3.8' '4.6' '1.2' '5' '1.7' '2.9' '0.5' '1.8 Turbo' '2.4 Turbo'
 '3.5 Turbo' '1.9' '2.7' '4.8' '5.3' '0.4' '2.8' '3.2 Turbo' '1.1' '2.1'
 '0.7' '5.4' '1.3 Turbo' '3.7' '1' '2.5 Turbo' '2.6' '1.9 Turbo'
 '4.4 Turbo' '4.7 Turbo' '0.8' '0.2 Turbo' '5.7' '4.8 Turbo' '4.6 Turbo'
 '6.7' '6.2' '1.2 Turbo' '3.4' '1.7 Turbo' '6.3 Turbo' '2.7 Turbo' '4.3'
 '4.2' '2.9 Turbo' '0' '4.0 Turbo' '20' '3.6 Turbo' '0.3' '3.7 Turbo'
 '5.9' '5.5 Turbo' '0.2' '2.1 Turbo' '5.6' '6' '0.7 Turbo' '0.6 Turbo'
 '6.8' '4.5' '0.6' '7.3' '0.1' '1.0 Turbo' '6.3' '4.5 Turbo' '0.8 Turbo'
 '4.2 Turbo' '3.1' '5.0 Turbo' '6.4' '3.9' '5.7 Turbo' '0.9' '0.4 Turbo'
 '5.4 Turbo' '0.3 Turbo' '5.2' '5.8' '1.1 Turbo']
Mileage ['186005 km' '192000 km' '200000 km' ... '140607 km' '307325 km'
 '186923 km']
Cylinders [ 6.  4.  8.  1. 12.  3.  2. 16.  5.  7.  9. 10. 14.]
Gear box type ['Automatic' 'Tiptronic' 'Variator' 'Manual']
Drive wheels ['4x4' 'Front' 'Rear']
Doors ['04-May' '02-Mar' '>5']
Wheel ['Left wheel' 'Right-hand drive']
Color ['Silver' 'Black' 'White' 'Grey' 'Blue' 'Green' 'Red' 'Sky blue' 'Orange'
 'Yellow' 'Brown' 'Golden' 'Beige' 'Carnelian red' 'Purple' 'Pink']
Airbags [12  8  2  0  4  6 10  3  1 16  5  7  9 11 14 15 13]

In [79]:
#We have to do some cleaning here
df['Leather interior'].replace({'Yes': True, 'No':False}, inplace=True)
df['Engine volume'] = df['Engine volume'].str.lower()
df['Turbo'] = df['Engine volume'].str.contains('turbo')

df['Engine volume'] = df['Engine volume'].str.slice(0,3)
df['Engine volume'] = df['Engine volume'].astype('float64')

df['Mileage'] = df['Mileage'].str.strip('km')
df['Mileage'] = df['Mileage'].astype('int64')

df['Doors'].replace({'04-May':4, '02-Mar':2, '>5':5}, inplace=True)

In [80]:
print(df)

       Price   Manufacturer    Model  Prod. year   Category  Leather interior  \
0      13328          LEXUS   RX 450        2010       Jeep              True
1      16621      CHEVROLET  Equinox        2011       Jeep             False
2       8467          HONDA      FIT        2006  Hatchback             False
3       3607           FORD   Escape        2011       Jeep              True
4      11726          HONDA      FIT        2014  Hatchback              True
...      ...            ...      ...         ...        ...               ...
19232   8467  MERCEDES-BENZ  CLK 200        1999      Coupe              True
19233  15681        HYUNDAI   Sonata        2011      Sedan              True
19234  26108        HYUNDAI   Tucson        2010       Jeep              True
19235   5331      CHEVROLET  Captiva        2007       Jeep              True
19236    470        HYUNDAI   Sonata        2012      Sedan              True

      Fuel type  Engine volume  Mileage  Cylinders Gear box type Drive wheels  \
0        Hybrid            3.5   186005        6.0     Automatic          4x4
1        Petrol            3.0   192000        6.0     Tiptronic          4x4
2        Petrol            1.3   200000        4.0      Variator        Front
3        Hybrid            2.5   168966        4.0     Automatic          4x4
4        Petrol            1.3    91901        4.0     Automatic        Front
...         ...            ...      ...        ...           ...          ...
19232       CNG            2.0   300000        4.0        Manual         Rear
19233    Petrol            2.4   161600        4.0     Tiptronic        Front
19234    Diesel            2.0   116365        4.0     Automatic        Front
19235    Diesel            2.0    51258        4.0     Automatic        Front
19236    Hybrid            2.4   186923        4.0     Automatic        Front

       Doors             Wheel   Color  Airbags  Turbo
0          4        Left wheel  Silver       12  False
1          4        Left wheel   Black        8  False
2          4  Right-hand drive   Black        2  False
3          4        Left wheel   White        0  False
4          4        Left wheel  Silver        4  False
...      ...               ...     ...      ...    ...
19232      2        Left wheel  Silver        5   True
19233      4        Left wheel     Red        8  False
19234      4        Left wheel    Grey        4  False
19235      4        Left wheel   Black        4  False
19236      4        Left wheel   White       12  False

[19237 rows x 17 columns]

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Manufacturer      19237 non-null  object
 2   Model             19237 non-null  object
 3   Prod. year        19237 non-null  int64
 4   Category          19237 non-null  object
 5   Leather interior  19237 non-null  bool
 6   Fuel type         19237 non-null  object
 7   Engine volume     19237 non-null  float64
 8   Mileage           19237 non-null  int64
 9   Cylinders         19237 non-null  float64
 10  Gear box type     19237 non-null  object
 11  Drive wheels      19237 non-null  object
 12  Doors             19237 non-null  int64
 13  Wheel             19237 non-null  object
 14  Color             19237 non-null  object
 15  Airbags           19237 non-null  int64
 16  Turbo             19237 non-null  bool
dtypes: bool(2), float64(2), int64(5), object(8)
memory usage: 2.2+ MB

In [ ]:
df['Price'].describe()
#probably we should remove outliers, at least in a very simple and ad hoc way

count    1.923700e+04
mean     1.855593e+04
std      1.905813e+05
min      1.000000e+00
25%      5.331000e+03
50%      1.317200e+04
75%      2.207500e+04
max      2.630750e+07
Name: Price, dtype: float64

In [83]:
def remove_outliers(df, features):
    outlier_indices = []
    
    for f in features:
        P01 = np.percentile(df[f],1)
        P99 = np.percentile(df[f],99)
        outlier_list_col = df[(df[f] < P01) | (df[f] > P99)].index
        outlier_indices.extend(outlier_list_col)
        df_without_outliers = df.drop(df.loc[outlier_indices].index, axis=0)
    return df_without_outliers

In [84]:
features = ['Price', 'Mileage']
df = remove_outliers(df, features)
df

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Turbo
0,13328,LEXUS,RX 450,2010,Jeep,True,Hybrid,3.5,186005,6.0,Automatic,4x4,4,Left wheel,Silver,12,False
1,16621,CHEVROLET,Equinox,2011,Jeep,False,Petrol,3.0,192000,6.0,Tiptronic,4x4,4,Left wheel,Black,8,False
2,8467,HONDA,FIT,2006,Hatchback,False,Petrol,1.3,200000,4.0,Variator,Front,4,Right-hand drive,Black,2,False
3,3607,FORD,Escape,2011,Jeep,True,Hybrid,2.5,168966,4.0,Automatic,4x4,4,Left wheel,White,0,False
4,11726,HONDA,FIT,2014,Hatchback,True,Petrol,1.3,91901,4.0,Automatic,Front,4,Left wheel,Silver,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,8467,MERCEDES-BENZ,CLK 200,1999,Coupe,True,CNG,2.0,300000,4.0,Manual,Rear,2,Left wheel,Silver,5,True
19233,15681,HYUNDAI,Sonata,2011,Sedan,True,Petrol,2.4,161600,4.0,Tiptronic,Front,4,Left wheel,Red,8,False
19234,26108,HYUNDAI,Tucson,2010,Jeep,True,Diesel,2.0,116365,4.0,Automatic,Front,4,Left wheel,Grey,4,False
19235,5331,CHEVROLET,Captiva,2007,Jeep,True,Diesel,2.0,51258,4.0,Automatic,Front,4,Left wheel,Black,4,False
19236,470,HYUNDAI,Sonata,2012,Sedan,True,Hybrid,2.4,186923,4.0,Automatic,Front,4,Left wheel,White,12,False

In [60]:
df['Price'].describe() # the data is better now

count    18138.000000
mean     15972.108667
std      13644.479203
min        100.000000
25%       5645.000000
50%      13328.000000
75%      21953.000000
max      67690.000000
Name: Price, dtype: float64

In [154]:
y = df['Price']
X = df.drop('Price', axis = 1)

In [160]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=1)

In [162]:
print(len(X_train), len(X_val), len(X_test))

11205 3735 3736

In [172]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18676 entries, 0 to 19236
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      18676 non-null  object
 1   Model             18676 non-null  object
 2   Prod. year        18676 non-null  int64
 3   Category          18676 non-null  object
 4   Leather interior  18676 non-null  bool
 5   Fuel type         18676 non-null  object
 6   Engine volume     18676 non-null  float64
 7   Mileage           18676 non-null  int64
 8   Cylinders         18676 non-null  float64
 9   Gear box type     18676 non-null  object
 10  Drive wheels      18676 non-null  object
 11  Doors             18676 non-null  int64
 12  Wheel             18676 non-null  object
 13  Color             18676 non-null  object
 14  Airbags           18676 non-null  int64
 15  Turbo             18676 non-null  bool
dtypes: bool(2), float64(2), int64(4), object(8)
memory usage: 2.2+ MB

In [174]:
list(X.select_dtypes(include=['int']).columns)

['Prod. year', 'Mileage', 'Doors', 'Airbags']

In [175]:
list(X.select_dtypes(exclude=['int']).columns)

['Manufacturer',
 'Model',
 'Category',
 'Leather interior',
 'Fuel type',
 'Engine volume',
 'Cylinders',
 'Gear box type',
 'Drive wheels',
 'Wheel',
 'Color',
 'Turbo']

In [176]:
categorical = list(X.select_dtypes(include=['int']).columns)
numerical = list(X.select_dtypes(exclude=['int']).columns)

train_dicts = X_train[categorical + numerical].to_dict(orient='records')
val_dicts = X_val[categorical + numerical].to_dict(orient='records')
test_dicts = X_test[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer()

X_train = dv.fit_transform(train_dicts)
X_val = dv.transform(val_dicts)
X_test = dv.transform(test_dicts)

In [177]:
#Let's create a simple model
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression()

In [180]:
predictions = lin_reg.predict(X_train)
lin_mse = mean_squared_error(y_train, predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

10229.429066201274

In [185]:
lin_mae = mean_absolute_error(y_train, predictions)
lin_mae

7189.4511493113905

In [186]:
predictions = lin_reg.predict(X_val)
lin_mse = mean_squared_error(y_val, predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

11291.03118658849

In [187]:
lin_mae = mean_absolute_error(y_val, predictions)
lin_mae

8036.72114449183

In [193]:
y.std() # the standard deviation of the target variable is higher than the errors on val set.

14810.534535786284

In [ ]:
#with open('C:/Users/sebas/Desktop/mlops-zoomcamp-main/mlops-zoomcamp-sebasfac/Project/models/lin_reg.bin', 'wb') as f_out:
#    pickle.dump((dv, lr), f_out)